<a href="https://colab.research.google.com/github/SamwelJane/Nairobi-Hospital-clinical-camp-test-for-hypothyroidism/blob/master/Nairobi_Hospital_Hypothyriodism_prediction_th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#  Introduction
Nairobi Hospital conducted a clinical camp to test for hypothyroidism.The data was  collected from Thyriod Patient

# 1.1 Defining the Question
Using the data provided , I'm tasked to build a model that determine whether or not  the patient's symptoms indicte that the patient has Hypothroid

# 1.2 Metrics for Success
 Optimalize  and come up with  reliable prediction Mode: 
 * That give an accuracy above 80%
 * Classify the patients  into one groups

# 1.3 Context

Nairobi Hospital conducted a clinical camp to test for hypothyroidism. The data collected focused on Thyroid patients. Use the healthcare datasets provided to accomplish the following:  

Build a model that determines whether or not the patient's symptoms indicate that the patient has hypothyroid.
Data source:

http://bit.ly/hypothyroid_data

# 1.4 Experimental design takenÂ¶
 Perform EDA

 Perform Feature Engineering

 Build Models:

 Part 1: Decision Tree
 * Random Forest
 * AdaBoost
 * Gradient Boosted Tree

Part 2: Support Vector Machine(SVM)

Perform Hyperparameter Tuning in our Models

# 2.0 Importing Libraries we will use for our Analysis

In [0]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(font_scale=1.2)
#  import decision tree classifier module from Decision tree librarie
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

# Import Suport Vector Classifier module from svm library. We'll use SVC to model our data
from sklearn.svm import SVC,LinearSVC
from sklearn.model_selection import train_test_split
# Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import  accuracy_score
from sklearn.metrics import confusion_matrix

# 2.1 Viewing our Datasets

In [42]:
#  loading the dataset and previewing the first five rows
#  datasource = 'http://bit.ly/hypothyroid_data'
#  my daaframe will be called data

data = pd.read_csv('http://bit.ly/hypothyroid_data')
data.head()

        status age sex on_thyroxine  ... FTI_measured FTI TBG_measured TBG
0  hypothyroid  72   M            f  ...            y  10            n   ?
1  hypothyroid  15   F            t  ...            y  17            n   ?
2  hypothyroid  24   M            f  ...            y   0            n   ?
3  hypothyroid  24   F            f  ...            y   6            n   ?
4  hypothyroid  77   M            f  ...            y  44            n   ?

[5 rows x 26 columns]

# 2.2 Exploratory Data Analysis

In [43]:
#  listing all columns in our datasets.
#  thees will be the variables  that are affectin our target variable which is 'Status'
list(data)

['status',
 'age',
 'sex',
 'on_thyroxine',
 'query_on_thyroxine',
 'on_antithyroid_medication',
 'thyroid_surgery',
 'query_hypothyroid',
 'query_hyperthyroid',
 'pregnant',
 'sick',
 'tumor',
 'lithium',
 'goitre',
 'TSH_measured',
 'TSH',
 'T3_measured',
 'T3',
 'TT4_measured',
 'TT4',
 'T4U_measured',
 'T4U',
 'FTI_measured',
 'FTI',
 'TBG_measured',
 'TBG']

In [44]:
#  checking the shape of our dataset
data.shape

(3163, 26)

In [10]:
#  checking an overview information about our dataset
 data.info() 
#   the dataset has 3163 rows and 26 columns which are our variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3163 entries, 0 to 3162
Data columns (total 26 columns):
status                       3163 non-null object
age                          3163 non-null object
sex                          3163 non-null object
on_thyroxine                 3163 non-null object
query_on_thyroxine           3163 non-null object
on_antithyroid_medication    3163 non-null object
thyroid_surgery              3163 non-null object
query_hypothyroid            3163 non-null object
query_hyperthyroid           3163 non-null object
pregnant                     3163 non-null object
sick                         3163 non-null object
tumor                        3163 non-null object
lithium                      3163 non-null object
goitre                       3163 non-null object
TSH_measured                 3163 non-null object
TSH                          3163 non-null object
T3_measured                  3163 non-null object
T3                           3163 non-null object
TT4_measured                 3163 non-null object
TT4                          3163 non-null object
T4U_measured                 3163 non-null object
T4U                          3163 non-null object
FTI_measured                 3163 non-null object
FTI                          3163 non-null object
TBG_measured                 3163 non-null object
TBG                          3163 non-null object
dtypes: object(26)
memory usage: 642.6+ KB

In [11]:
#  checking datatpyes
data.dtypes
# all the features in our are in an object format

status                       object
age                          object
sex                          object
on_thyroxine                 object
query_on_thyroxine           object
on_antithyroid_medication    object
thyroid_surgery              object
query_hypothyroid            object
query_hyperthyroid           object
pregnant                     object
sick                         object
tumor                        object
lithium                      object
goitre                       object
TSH_measured                 object
TSH                          object
T3_measured                  object
T3                           object
TT4_measured                 object
TT4                          object
T4U_measured                 object
T4U                          object
FTI_measured                 object
FTI                          object
TBG_measured                 object
TBG                          object
dtype: object

# 2.2 Feature Engineering

In [32]:
#  checking for null values
data.isnull().sum().sum()
#  the dataset has no values

0

In [33]:
#  checking for duplicates
#  The duplicate   occurs when an exact copy of a record is created as a different entry in the same database.
data.duplicated().sum()

77

In [0]:
# I have opted to drop duplicates  in order to avoid redundancies,inconsistencies and complimicing accuracy of our model
#  After  removing the duplicate i will call my dataframe df

df=data.drop_duplicates(keep=False)

In [38]:
# checking the number of feaures I have remained with which is 3010 from the prevous one which was 3163
len(df)

3010

In [0]:
#  checking  for null
df.isnull().sum()

In [0]:
# Spot Check Algorithms
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn